.main {
  text-align: center;
  min-width: 1400px;
}

.calendar {
  margin-bottom: 50px;
}

.buttons {
  text-align: center;
}

.btn {
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  font-weight: 600; 
  font-size: 18px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.save-btn {
  background-color: #27ae60;
}

.save-btn:active {
  background-color: rgb(39,174,96, 0.9);
}

.holidays {
  margin-right: 20px;
  text-align: center;
}

.holidays-caption {
  color: #e74c3c;
  font-weight: 500;
  font-size: 30px;
}

.holidays-header {
  text-transform: uppercase;
  color: #7f8fa6;  
  font-size: 12px;  
  font-weight: 300;
}

.holiday-btn {
  font-size: 14px;
  padding: 6px;
}

.holiday-date {
  padding: 10px 20px;
  color: #2c3e50;
}

.holiday-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.holiday-input {
  display: block;
  text-align: center;
  border: 1px solid #dcdde1;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 0;
  color: #2c3e50;
}

.holidays-table {
  min-width: 309px;
}

.holidays, .calendar {
  display: inline-block;
  vertical-align: top;
}

.error {
  font-size: 12px;
  color: #e74c3c;
}