<div class="wrap">
  <div class="holidays card">
    <table class="holidays-table">
      <caption class="holidays-caption">Holidays</caption>
      <tr>
        <th class="holidays-header">From</th>
        <th class="holidays-header">To</th>
        <th style="width: 42px"></th>
      </tr>
      <tbody *ngIf="holidays">
        <tr *ngFor="let holiday of holidays; let i = index">
          <td class="holiday-date">{{ holiday.startDate | date }}</td>
          <td class="holiday-date">{{ holiday.endDate | date }}</td>
          <td>
            <button (click)="onRemoveHolidayClicked(i)" type="button" class="btn holiday-btn">✂️</button>
          </td>
        </tr>
        <tr>
          <td>
            <label class="holiday-input">
              <input type="date" (change)="onStartDateChanged($event.target.value)">
              <span *ngIf="startDate">{{ startDate | date }}</span>
              <span *ngIf="!startDate">Start date</span>
            </label>
          </td>
          <td>
            <label class="holiday-input">
              <input type="date" (change)="onEndDateChanged($event.target.value)">
              <span *ngIf="endDate">{{ endDate | date }}</span>
              <span *ngIf="!endDate">End date</span>
            </label>
          </td>
          <td>
            <button (click)="onAddHolidayClicked()" type="button" class="btn holiday-btn">✔️</button>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="error">
            <span *ngIf="error">{{ error }}</span>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="!holidays">
        <tr *ngFor="let i of [].constructor(6)">
          <td class="holiday-date holidays-mock-item"></td>
          <td class="holiday-date holidays-mock-item"></td>
          <td class="holidays-mock-item"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="calendar card">
    <div class="year">
      <app-year (currentYearChange)="onCurrentYearChanged($event)" [currentYear]="year"></app-year>
    </div>
    <app-calendar *ngIf="holidays" [isHolidaysHighlighted]="true" [year]="year" [holidays]="holidays"></app-calendar>

    <div class="calendar-mock" *ngIf="!holidays">
      <div class="calendar-mock-item" *ngFor="let i of [].constructor(12)"></div>
    </div>
  </div>

  <div class="buttons">
    <button (click)="onSaveClicked()" type="button" class="btn save-btn">Save 💾</button>
  </div>
</div>